.mat-card{
    margin: 10px auto;
}
a{text-decoration: none;}
.item {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    width: 100%;
    text-decoration: none;
    margin-bottom: 20px;
    grid-gap: 20px;
    padding-top: 10px;


}
p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span{
        color: #3f51b5;
    }
}
.heading{
    grid-template-columns: 50% 50%;

}
.scanner{
    margin: 0 -20px;
    background-color: #dedede;
    padding: 10px 20px;
}