.btn{
    display: block;
    width: 100%;
    margin: 20px 0;
}
.mat-form-field {
    width: 100%;
}
.find-picklist{
    padding: 15px;
    background-color: #f1f1f1;
    p{
        text-align: center;
    }
}