<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <httpErrors>
         <remove statusCode="404" subStatusCode="-1" />
         <error statusCode="404" prefixLanguageFilePath="" path="/index.html" responseMode="Redirect" />
      </httpErrors>
         <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
		   <add name="Access-Control-Allow-Methods" value="*" />
		    <add name="Access-Control-Allow-Headers" value="*" />
        </customHeaders>
      </httpProtocol>
      <staticContent>
         <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="HTTPS force" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="^OFF$" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>